body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body > * {
    padding-right: 50px;
    padding-left: 50px;
}

img{
    width: 450px;
    height: auto;
}
.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px
}

.logo{
    font-weight: 900;
    color: #F9FAF8;
    font-size: 28px;
}
.intro {
    background-color: #1F2937;
    color: white;
}
.review {
    background-color: #E5E7EB;
    color: grey;
}

.action {
    background-color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
    display: flex;
    gap: 15px
}
